<canvas id="canvas-ninja" width="440" height="230"></canvas>
<canvas id="canvas-sword" width="110" height="399"></canvas>

<div id='soon'>
  <h1>soon.</h1>
</div>

<div id='contact'>
  <p><%=link_to "contact", "https://twitter.com/abradner"%></p>
</div>
